{
  "printWidth": 130,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "no-bracket-spacing": true,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false
}
